<swiper *ngIf="!changingArray"  overlay-controls [config]="config"  (indexChange)="onIndexChange($event)" fxFlex>
  <div *ngFor="let cust of internalDataSource" class="swiper-slide">
    <div class="swiper-slide-content" fxLayout="column" fxLayoutAlign="center center">{{cust.ContactName}}</div>
  </div>
</swiper>